/**
 * CSS3 Sliding image panels with CSS3
 Based in work of http://tympanus.net/Tutorials/CSS3SlidingImagePanels/index.html
 */

body {
    background: linear-gradient(top, #001E5D, #00517C);
    font-family: Georgia, Arial, sans-serif;
}

h1 {
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2em;
    line-height: 2.5;
    text-align: center;
    text-shadow: #fff 0 1px 1px, #000 1px 1px 5px;
}

.container {
    box-shadow: #00517C 0 0 4px 4px;
    border-radius: 4px;
    border: 12px solid #C1D9E0;
    margin: 50px auto 20%;
    position: relative;
    overflow: hidden;
    width: 600px;
}

.container input {
    display: none;
}

.image {
    height: 350px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 600px;
    z-index: -1;
}

.image div {
    display: block;
    float: left;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 150px;
}

.container label {
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 1.35em;
    padding: 40% 0 0;
    height: 100px;
    line-height: 1.9;
    position: relative;
    text-align: center;
    text-shadow: #fff 0 1px 1px;
    width: 149px;
    z-index: 100;
}

.container label:before {
    background-color: #00517C;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 2px 2px;
    border: 4px solid #C1D9E0;
    content: '';
    height: 40px;
    margin: 0 34%;
    position: absolute;
    left: 0;
    width: 40px;
    z-index: -1;
}

.container label:after {
    box-shadow: rgba(255, 255, 255, 0.8) 0 3px 10px;
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 1px;
    z-index: 1000;
}

.container input:nth-of-type(1):checked~label:nth-of-type(1):before,
.container input:nth-of-type(2):checked~label:nth-of-type(2):before,
.container input:nth-of-type(3):checked~label:nth-of-type(3):before,
.container input:nth-of-type(4):checked~label:nth-of-type(4):before {
    background-color: #001E40;
    border-color: #999;
    opacity: .7;
}

.titles h3 {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 2em;
    line-height: 1.5;
    opacity: 0;
    position: absolute;
    top: 2%;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 2px;
    text-align: center;
    transition: all .3s ease-in-out;
    width: 100%;
}

.container input:nth-of-type(1):checked~.titles h3:nth-child(1),
.container input:nth-of-type(2):checked~.titles h3:nth-child(2),
.container input:nth-of-type(3):checked~.titles h3:nth-child(3),
.container input:nth-of-type(4):checked~.titles h3:nth-child(4) {
    opacity: 1;
}

.image div span {
    display: block;
    left: -150px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
    width: 100%;
    z-index: 2000;
}


/* load images */

.container input#select-img-1:checked~.image,
.container input#select-img-1~.image span:nth-child(1) {
    background-image: url(http://ps3media.ign.com/ps3/image/article/804/804317/metal-gear-solid-4-guns-of-the-patriots--20070712014600775_640w.jpg);
}

.container input#select-img-2:checked~.image,
.container input#select-img-2~.image span:nth-child(2) {
    background-image: url(http://2.bp.blogspot.com/-iG-idGHx4cY/TWa6Pw35D0I/AAAAAAAAAOg/wYwVe54ysFs/s1600/mgs.jpg);
}

.container input#select-img-3:checked~.image,
.container input#select-img-3~.image span:nth-child(3) {
    background-image: url(http://www.dicaseideias.com/wp-content/uploads/2011/05/metal-gear-solid-4.jpg);
}

.container input#select-img-4:checked~.image,
.container input#select-img-4~.image span:nth-child(4) {
    background-image: url(http://images.wikia.com/metalgear/images/7/77/Whatcouldshebethinkingabout_.jpg);
}


/* set positions */

.container .image div:nth-child(1) span {
    background-position: 0 0;
}

.container .image div:nth-child(2) span {
    background-position: -150px 0;
}

.container .image div:nth-child(3) span {
    background-position: -300px 0;
}

.container .image div:nth-child(4) span {
    background-position: -450px 0;
}


/* pull the trigger */

.container input#select-img-1:checked~.image div span:nth-child(1),
.container input#select-img-2:checked~.image div span:nth-child(2),
.container input#select-img-3:checked~.image div span:nth-child(3),
.container input#select-img-4:checked~.image div span:nth-child(4) {
    left: 0;
    transition: left 0.5s ease-in-out;
    z-index: 10;
    animation: none;
}

.container input:checked~.image div span {
    animation: slide 0.6s ease-in-out;
    z-index: 0;
}


/* animation left previous slide */

@keyframes slide {
    0% {
        left: 0px;
    }
    100% {
        left: 150px;
    }
}


/* credits */

p,
p small,
p a {
    color: rgba(255, 255, 255, 0.3);
    font-family: Helvetica, sans-serif;
    font-size: 11px;
    text-align: right;
    margin-bottom: 30px;
}